*~
*.o
*.mod
fort.*
**.makefile.uptodate
**#*#
**control
**output
**genmod.f90
**.swp
**.optrpt
compile_flags
bulk_rhmc
run???/
*.out
*.err
time*txt
*.tar
playground
comms4_sp.F90
comms5_sp.F90
dirac_sp.F90
minibenchmarks/
test_dirac_sunbird/
test_walltime/
longruns/
