test_bulk_rhmc
test_congrad
test_congrad_1
test_derivs
test_dslash_shamir
test_dslash2d
test_dslashd_shamir
test_dslashd_reqs_shamir
test_force
test_gauss0
test_gaussp
test_halo_4
test_halo_4_real
test_halo_5
test_halo_6
test_hamilton
test_load
test_measure
test_meson
test_qmrherm_0
test_qmrherm_1
test_qmrherm_2
test_qmrherm_3
test_qmrherm_4
test_save
test_dslash.dat
test_force_regression
random_seed
test_timer
