test_bulk_rhmc
test_congrad
test_congrad_1
test_derivs
test_dslash_1
test_dslash2d
test_dslash_3
test_dslash_5
test_dslashd_1
test_dslashd_3
test_dslashd_5
test_force
test_gauss0
test_gaussp
test_halo_4
test_halo_4_real
test_halo_5
test_halo_6
test_hamilton
test_load
test_measure
test_meson
test_qmrherm_0
test_qmrherm_1
test_qmrherm_2
test_qmrherm_3
test_qmrherm_4
test_save
test_dslashd_1_reqs
test_dslashd_3_reqs
test_dslashd_5_reqs
test_comms_partitioning
test_comms_partitioning2
test_dirac_split
test_dirac_split2
test_dirac_split_ordering
test_dslash.dat
test_dslash_split1
test_dslash_split3
test_dslash_split5
test_dslashd_split1
test_dslashd_split3
test_dslashd_split5
test_partitioning
test_partitioning2
test_partitioning3
test_qmrherm_split4
test_force_regression
con
random_seed
